{% extends "layouts/base-fullscreen.html" %}
{% block title %}Change Password {% endblock title %}

{% block content %}

<div class="container justify-content-center">
<div class="pagetitle">
    <h1>Change Password</h1>
</div>
<div class="card mb-3">
    <div class="card-body mb-3">
      <form method="post" action="" class="row g-3 needs-validation">
          {% csrf_token %}
        <div class="row mb-3">
          <label for="inputEmail3" class="col-sm-2 col-form-label">Old Password</label>
          <div class="col-sm-4">
            {{ form.old_password }}
        </div>
        </div>
        <div class="row mb-3">
          <label for="password" class="col-sm-2 col-form-label">New Password</label>
          <div class="col-sm-4">
            {{ form.new_password1 }}  
        </div>
        </div>
        <div class="row mb-3">
          <label for="inputPassword3" class="col-sm-2 col-form-label">Re-enter Password</label>
          <div class="col-sm-4">
            {{ form.new_password2 }}
        </div>
        </div>


        <div class="text-center">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        
        
        <div id="msg">
            {% if form.errors %}
            <div class="alert alert-danger" role="alert">
             <ul>
             {% for key,value in form.errors.items %}
              {% for error in value %}
               <li>{{ error }}</li>
              {% endfor %}
             {% endfor %}
             </ul>
            </div>
            {% else %}
            {% for message in messages %}
            <div class="alert alert-success" role="alert">
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            </div>
            {% endfor %}
            {% endif %}
           </div>
      </form>
    </div>
  </div>
</div>
<script>
    const togglePassword = document.querySelector("#togglePassword");
    const password = document.querySelector("#password");

    togglePassword.addEventListener("click", function () {
        // toggle the type attribute
        const type = password.getAttribute("type") === "password" ? "text" : "password";
        password.setAttribute("type", type);
        
        // toggle the icon
        this.classList.toggle("bi-eye");
    });

    // prevent form submit
    const form = document.querySelector("form");
    form.addEventListener('submit', function (e) {
        e.preventDefault();
    });
</script>
<!-- <form method="post">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Save changes</button>
  </form> -->
{% endblock content %}