{% extends 'layouts/base.html' %}
{% block title %}Reset Password {% endblock title %}
{% block content %}
<div style="padding-top: 10%;">
    <div style="padding-left: 40%;">
    <div class="card col-md-6">
        <div class="card-body">
            <h4 class="card-title">Change Password</h4>
            <form  method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <div style="padding-left: 30%;">
                    <input type="submit"  class="btn-primary" name="" id="">
                </div>
            </form>
        </div>
    </div>
    </div>
</div>
{% endblock content %}