{% extends 'layouts/base.html' %}
{% block title %}Password Reset{% endblock title %}

{% block content %}
<div style="padding: 10%"></div>

<div style="padding-left: 40%;">
    <div style="padding: 2%;" class="card col-md-6">
        <div class="card-title">Password reset completed</div>
        <div class="card-body">
            <h6>
                Your password has been set. You may go ahead and log in now.
            </h6>
            <br>
            <a href="{% url 'login' %}">Login</a>
        </div>
    </div>
</div>

{% endblock content %}