{% extends 'layouts/base.html' %}
{% block title %} Verify-Email {% endblock title %}
{% block content %} 
<div style="padding: 10%"></div>

<div style="padding-left: 40%;">
    <div style="padding: 1%;" class="card col-md-6">
        <div class="card-body">
            <h6>
            We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
            </h6>
            <br>
            <h6>
            If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.  
            </h6>
        </div>
    </div>
</div>

{% endblock content %}