{% extends 'layouts/base.html' %}
{% block title %} Forgot Password {% endblock title %}

{% block content %}
<div style="padding-top: 15%;"></div>
<div style="padding-left: 40%;">
<div style="padding: 1%;"  class="card col-md-5" >
    <div class="card-body">
        <h4 class="card-title">Forgot Password</h4>
        <form  method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <div style="padding-left: 30%;">
                <input type="submit"  class="btn-primary" name="" id="">

            </div>
        </form>
    </div>
</div>
</div>
{% endblock content  %}